@import "tailwindcss";

:root {
  --font-heading: 'Cinzel', serif;
  --font-body: 'Roboto', sans-serif;
}
@theme {
  --color-gold: #d4af37;
  --color-darkbrown: #1c0f0a;
  --font-heading:font-cinzel;
  --font-body: font-roboto;
}
.image-render-pixel {
  image-rendering: pixelated;
}