@import "tailwindcss";

:root {
  --font-heading: 'Cinzel', serif;
  --font-body: 'Roboto', sans-serif;
}
@theme {
  --color-gold: #d4af37;
  --color-darkbrown: #1c0f0a;
  --font-heading:font-cinzel;
  --font-body: font-roboto;
}
.image-render-pixel {
  image-rendering: pixelated;
}
/* Scrollbar styling */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #b45309 #fef3c7;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #fef3c7;
  border-radius: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b45309;
  border-radius: 8px;
  border: 2px solid #fef3c7;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #92400e;
}
details {
  margin-bottom: 1.25rem; /* spacing between FAQs */
  border: 1px solid #444;
  border-radius: 0.5rem;
  background-color: #1c1c1c;
  padding: 1rem;
  transition: background-color 0.2s ease;
}

details[open] {
  background-color: #2a2a2a;
}

summary {
  font-weight: 600;
  color: #facc15; /* Tailwind yellow-400 */
  cursor: pointer;
  margin-bottom: 0.75rem;
}

summary::-webkit-details-marker {
  display: none;
}
